/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }


.wrapper{
    height: 100vh;
    margin: 0 auto;
    box-sizing:border-box;
}


.container{
    max-width: 1025px;
    margin: 0 auto;

}

/* Header style */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
} 

/* Banner style */

.banner{
position: relative;
}

.banner__btn{

}

.banner__btn-to-card{
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
}





/* Product card style */
.product__wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}


.product__card {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    flex:0 0 25%;
    background-color:#fff;
    margin:15px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.product__img{
    padding:20px 50px 10px 50px;
}
.product__img img{
    max-width: 180px;
    max-height: 180px;
}


.product__name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    padding-bottom: 10px;
}
.product__availability {
    color:rgba(118, 114, 114, 1);
    padding-bottom: 20px;
    position: relative;
}

.product__availability::before{
    content: url(../img/icons/check.svg);
    color:green;
    position: absolute;
    padding: 1px;
    top: -7px;
    left: -35px;
    border:1px solid rgba(27, 201, 67, 1);
    border-radius:50%;
}

.no-order {
    color:rgba(118, 114, 114, 1);
    padding-bottom: 20px;
    position: relative;
}

.no-order::before{
    content: url(../img/icons/close-red.svg);
    position: absolute;
    padding: 1px;
    top: -7px;
    left: -35px;
    border-radius:50%;
    color:red;
}


.product__price {
    color:rgba(118, 114, 114, 1);
    padding-bottom: 10px;

}
.product__add {
    padding-bottom: 20px;

}
.btn__add {
    padding: 15px 25px;
    background-color:#0E49B5;
    color:#fff;
    border-radius: 5px;
}
.btn__no-order {
    padding: 15px 25px;
    background-color:rgba(224, 224, 224, 1);
    color:#fff;
    border-radius: 5px;
}

.product__expirience {
    width: 100%;
    padding: 20px 0;
    background-color:rgb(218, 226, 234);
    border-radius:0px 0px 10px 10px;
    color:#3B3E66;
}

.rewiews, .avarage{
  display: flex;
  justify-content: space-between;
  padding: 0 25px 5px 25px;
  line-height: 16px;
}

.rewiews__likes::before{
  position: relative;
}
.rewiews__likes::before{
content:url(../img/icons/like_filled_red.svg);
top:4px;
left: -5px;
}

* Accordion section*/

aside{
  display: flex;
  max-height: 0;
  margin:15px;
}
.accordion__wrapper{
  display: flex;
  flex-direction: column;
  order: 1;
  min-width: 300px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}


.price__inputs{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.price__inputs input{
  padding: 10px 5px;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}



.section__color{
  display: flex;
  flex-direction: column;
 
}

.col{
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  justify-content: space-between;
  padding: 30px 0;

}

.nowrap{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}


.label_box{
  min-width: 50%;
  padding: 10px 5px;
}



label{
  display: block;
    width: 50px;
    height: 24px;
    float: left;
}



.accordion {
  font-size: 18px;
  font-weight: 400;
  background-color:#fff;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.5s;
  position: relative;
}

.accordion::after{
  content:'+';
  position: absolute;
  right: 10%;
  font-weight: 900;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Modal window style */

.modal__window{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal{
  display: flex;
  position: fixed;
  max-width: 1025px;
  max-height: auto;
  z-index: 999;
  background-color: rgb(255, 255, 255);
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
 visibility:hidden;
 border-radius:10px;
}

.modal h4{
  text-align: center;
  font-weight: 700;
font-size: 24px;
line-height: 28px;
color: #3B3E66;
padding: 0 0 20px 0;
}

.close{
  display: none;
}

.modal__img,.modal__info,.modal__add-cart{
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 35px;
}
.modal__img,.modal__info{
 border-right:1px solid rgba(226, 226, 226, 1);
}

.modal__img{
  justify-content: center;
  align-items:center;
}

.modal__img img{
  max-width: 250px;
  max-height: 250px;
}

.modal__info .product__expirience{
  margin: 30px 0px;
  max-height: 300px;
  border-radius:10px;
}

.modal__info p{
  color:rgba(118, 114, 114, 1);
  line-height: 16px;
  padding-bottom: 15px;
}
.modal__info p>span{
  color:rgb(0, 0, 0);
}


.modal__add-cart{
  justify-content: center;
  align-items:center;
  color: #3B3E66;
}
.modal__add-cart h3{
  font-weight: 700;
  font-size: 36px;
  color: #3B3E66;
  padding-bottom: 25px;
}

.modal__add-cart p{
  padding-bottom: 25px;
  font-size: 18px;
}

/* Search section*/

.search__box{
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #DDDADA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.search__box input{
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 25px;
  color:rgba(118, 114, 114, 1);
}


.hide{
  display: none;
}

::selection{
  color: #fff;
  background: #664AFF;
}

.search__box.active input{
  border-radius: 5px 5px 0 0;
}
.search__box .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}
.search__box.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}
.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}
.search__box.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}